@import "./../../../styles/variables";

.btn {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  gap: 4px;

  &.large {
    padding: 1rem 1.5rem;
  }

  &.medium {
    padding: 1rem;
  }

  &.small {
    padding: 1rem;
  }

  &.filled {
    color: #fff;
    background-color: $blue-primary;
    border: none;
  }

  &.outline {
    color: $blue-primary;
    background-color: transparent;
    border: 1px solid $blue-primary;
  }

  &.dark {
    color: #ffffff;
    background-color: $blue-dark;
    border: 1px solid $blue-primary;
  }

  &.buy {
    color: #ffffff;
    background-color: $green-secondary;
    justify-content: center;
  }

  &.danger {
    color: #ffffff;
    background-color: $danger;
    justify-content: center;
  }

  &.submit {
    color: #ffffff;
    background-color: $green-dark;
  }

  &.fullWidth {
    width: 100%;
    flex: 1;
  }

  &.alingCenter {
    text-align: center;
    justify-content: center;
  }
}
