.card{
    display: flex;
    height: 420px;
    border-radius: 12px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-width: 300px;
    .main{
        padding: 1.5rem;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;

        .info {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
        }

        h4{
            font-size: 24px;
            font-style: normal;
            color: #ffffff;
            font-weight: 600;
            line-height: normal;
            margin: 0;
        }

        h5 {
            margin: 0;
            color: #ffffff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .price {
            color: #ffffff;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    img{
        border-radius: 12px;
        height: 420px;
        object-fit: cover;
        position: absolute;
        max-width: 100%;
        z-index: -1;
        margin: 0 auto;
    }
    .footer{
        box-sizing: border-box;
        padding: 0 1.5rem 1.5rem 1.5rem ;
    }
}