.box-filter{
    padding: 2rem 1.5rem 3rem 1.5rem;
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
}
.footer-filter{
    display: flex;
    justify-content: flex-end;
}