@import './../../../styles/variables';

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 24px;
    height: 24px;
    border: 10px solid $blue-primary; /* Light grey */
    border-top: 10px solid $blue-dark; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    opacity: .5;
  }
  .spinner-container{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }